/*  Estilo Google Font para la barra de navegación */
nav{
  font-family: 'Raleway';
}
/*  Estilo Google Font para el body */
body{
  font-family: 'Raleway';
  background-color: white;
  text-align: center;
}
/*  Tamaño para las imágenes que estan en las card */
.card-img-top{
  height: 180px;
  width: 86px;
}
/*  Padding para los encabezados */
h2{
  padding: 40px;
  padding-top: 50px;
}
/*  Margenes para las cards */
.card{
  margin-left: 35px;
  margin-right: 30px;
}
.col-sm{
margin: 40px;
}
.d-block{
  height: 600px;
}
.icon{
  height: 30px;
  width: 30px;
}
.fab{
  padding: 5px;
  margin-left: 10px;
}
footer{
  padding: 80px;
  height: 30px;
  background-color: #159ac8;
  width: 100%;
}
