nav{
font-family: 'Raleway';
}

body{
  font-family: 'Raleway';
  background-color: white;
  text-align: center;
}

.card-img-top{
  height: 180px;
  width: 86px;
}

h2{
  padding: 40px;
  padding-top: 50px;
}

.card{
  margin-left: 35px;
  margin-right: 30px;

}

.col-sm{
margin: 40px;
}

.d-block{
  height: 600px;
}

.icon{
  height: 30px;
  width: 30px;
}
footer{
  padding: 50px;
}
